<div class="centered">
  <h1>Beer Shelf</h1>

  <% beers.forEach((beer) => { %>
    <div class="small-12 medium-6 large-4 x-large-3 columns beer">
      <a href="/beers/<%= beer.id %>"><img class="thumbnail" src="<%= beer.image %>" alt="<%= beer.name %>"></a>
      <a href="/beers/<%= beer.id %>"><h3><%= beer.name %></h3></a>
      <h4><%= beer.brand %></h4>
      <h5><%= beer.style %>, <%= beer.percentage %>%</h5>
      <% if(locals.isAuthenticated) { %>
        <a href="/beers/<%= beer.id %>/edit" class="button">Edit</a>
        <form action="/beers/<%= beer.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <button class="button">Delete</button>
        </form>
      <% } %>
    </div>
  <% }) %>
</div>
